apiVersion: v1
kind: Pod
metadata:
  name: nginx
  namespace: default
spec:
  containers:
  - name: nginx
    image: nginx
    ports:
    - containerPort: 80

---

apiVersion: v1
kind: Pod
metadata:
  name: http
  namespace: default
spec:
  containers:
  - name: httpd
    image: httpd
    ports:
    - containerPort: 80
